modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BICeQ6oeiH6quOT0dtu5X99LMLjbLwh9-t3y5_Iih2pUwY03wBUMgurEm0LllVrOEeQkpPPaJJxMk9gJjAR9N3E"
VAPID_PRIVATE_KEY = "Q9sQPwBkyWi5B4_PWWR-n75IVq48kRHI4Ll2pUqdLSI"
